<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 m-auto text-center">
            <h5 class="text-uppercase">Click on the app to run</h5>
        </div>
    </div>
    <div class="row d-flex flex-column app-btn">
        <div class="col-md-6 m-auto">
            <a ui-sref="domino" ui-sref-active="active" class="btn btn-primary">Dominos App</a>
        </div>
        <div class="col-md-6 m-auto mt-5">
            <a ui-sref="gpacalc" ui-sref-active="active" class="btn btn-primary">Student GPA Calculator App</a>
        </div>
    </div>
</div>